.contacts {
    background-color: #232323;
    &__links {
        padding: 93px 0 84px 0;
        display: flex;
        justify-content: space-between;
    }
    &__list {
        ul {
            padding: 0;
            list-style: none;
            li {
                color: #ffffff;
                a {
                    color: #ffffff;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 28px;
                    font-family: "MyriadProExt";
                }
                address {
                    margin: 0;
                    line-height: 24px;
                }
            }
        }
    }
    &__title {
        color: #777777;
        font-size: 24px;
        margin-bottom: 32px;
    }
}
.free {
    margin-bottom: 20px;
}
.space {
    display: block;
    margin-bottom: 16px;
}


