.footer {
    padding: 42px 0;
    background-color: #1f1f1f;
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        display: flex;
        img {
            width: 40px;
            height: 40px;
            margin-right: 17px;
        }
    }
    &__name {
        color: #ffffff;
        font-size: 24px;
        font-weight: 400;
        line-height: 18px;
    }
    &__descr {
        color: #777777;
        font-size: 16px;
        font-weight: 300;
    }
    &__copyright {
        left: 0;
        color: #ffffff;
        font-size: 18px;
        font-weight: 400;
    }
}