.main-brands {
    margin-bottom: 20px;
    &__wrapper {
        background-color: #fff;
        width: 100%;
        min-height: 100px;
        padding: 18px 0 16px 0;
    }
    &__list {
        display: flex;
        list-style: none;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    &__item {
        display: flex;
        align-items: center;
        padding: 0 62px;
        border-right: 1px solid #e7e6e6;
        height: 71px;
        color: #282828;
        font-size: 18px;
        font-weight: 400;
        a  {
            color: #282828;
            text-decoration: none; 
        }
    }
    &__item:last-child {
        border: none;
    }
}
    