@import 'base/vars';

@import 'libs/bootstrap-reboot.min';
@import 'libs/fonts';

* {
    font-family: "MyriadPro", "HelveticaNeueCyr", serif;
}

.container {
    max-width: 1550px;
    margin: 0 auto;
}


@import 'blocks/header';
@import 'blocks/buttons';


